body {
  margin: 0;
}

header {
  background-color: #35424a;
  color: white;
  height: 100px;
  border-bottom: 3px solid #a9508b;
  font-family: Arial, Helvetica, sans-serif;
}

header .left-header {
  float: left;
  clear: right;
  position: relative;
  top: 30px;
  left: 150px;
  font-size: 2em;
  font-weight: bold;
}

header .right-header {
  float: right;
}

header .right-header ul li {
  float: left;
  margin-right: 35px;
  position: relative;
  right: 190px;
  top: 25px;
  list-style-type: none;
  font-size: 16px;
  font-weight: bold;
}

header .right-header a {
  text-decoration: none;
  color: white;
}

header .right-header a #nav1:hover {
  color: white;
}

header .right-header a:hover:not(#nav1) {
  color: #e9e6e6;
  text-shadow: 0px 0px 2px;
}

main {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main .main-page {
  background-image: url(../img/showcase.jpg);
  height: 400px;
  background-position: top;
  background-size: cover;
  color: white;
}

main .main-page div {
  font-size: 55px;
  font-weight: bold;
}

main .main-page p {
  font-size: 20px;
}

main .main-page div,
main .main-page p {
  width: fit-content;
  margin: auto;
  line-height: 70px;
  position: relative;
  top: 110px;
}

.subscribe {
  background-color: #35424a;
  height: 100px;
}

.subscribe #left {
  color: white;
  float: left;
  position: relative;
  top: 23px;
  left: 200px;
  font-size: 1.4em;
}

.subscribe #right {
  float: right;
  position: relative;
  top: 31px;
  right: 200px;
}

.subscribe #right input {
  width: 240px;
  height: 30px;
}

.subscribe #right button {
  color: white;
  height: 36px;
  width: 100px;
  background-color: #a9508b;
  outline: none;
  border: none;
}

.subscribe #right button:hover {
  background-color: #b83b8e;
  cursor: pointer;
}

.flex-boxes {
  border-bottom: 3px solid #b83b8e;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 20px;
}

.flex-boxes .box {
  padding: 10px;
  margin: 10px;
  right: 50px;
  flex-basis: 500px;
  text-align: center;
  flex-shrink: 4;
}

.flex-boxes img {
  margin: 10px auto;
  margin: auto;
  width: 90px;
}

footer {
  background-color: #fffaf0;
  text-align: center;
  height: 140px;
}

footer div {
  position: relative;
  top: 50px;
  line-height: 0px;
}

footer div p img {
  width: 200px;
}

@media screen and (max-width: 1130px) {
  .flex-boxes {
    flex-wrap: wrap;
  }
}
