body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #35424a;
  color: white;
  height: 100px;
  border-bottom: 3px solid #a9508b;
  font-family: Arial, Helvetica, sans-serif;
}

header .left-header {
  float: left;
  clear: right;
  position: relative;
  top: 30px;
  left: 150px;
  font-size: 2em;
  font-weight: bold;
}

header .right-header {
  float: right;
}

header .right-header ul li {
  float: left;
  margin-right: 35px;
  position: relative;
  right: 190px;
  top: 25px;
  list-style-type: none;
  font-size: 16px;
  font-weight: bold;
}

header .right-header a {
  text-decoration: none;
  color: white;
}

header .right-header a #nav1:hover {
  color: white;
}

header .right-header a:hover:not(#nav1) {
  color: #e9e6e6;
  text-shadow: 0px 0px 2px;
}
.subscribe {
  background-color: #35424a;
  height: 100px;
}

.subscribe #left {
  color: white;
  float: left;
  position: relative;
  top: 23px;
  left: 200px;
  font-size: 1.4em;
}

.subscribe #right {
  float: right;
  position: relative;
  top: 31px;
  right: 200px;
}

.subscribe #right input {
  width: 240px;
  height: 30px;
}

.subscribe #right button {
  color: white;
  height: 36px;
  width: 100px;
  background-color: #a9508b;
  outline: none;
  border: none;
}

.subscribe #right button:hover {
  background-color: #b83b8e;
  cursor: pointer;
}

.section2 {
//   border: 3px solid;
   margin: auto 200px;
   display: flex;
   height:340px;
   margin-bottom: 300px;

  #div1 {
    // border: 1px solid;
    float: left;
    width: 190%;
    margin-right: 50px;
    line-height: 22px;
    
    #p2{
        background-color: #35424a;
        color: white;
        font-size: 15px;
        height: 100px;
        text-align: left;
        padding: 20px;
        
    }
    
  }

  #div2{
    margin-top: 20px;;
      border: 1px solid;
      width: 80%;
      background-color: #35424a;
      height: 150px;
      color: white;
      padding: 15px;
      font-size: 15px;
      line-height: 22px;
      
      
  }


 
}


footer {
    background-color: #fffaf0;
    text-align: center;
    height: 140px;
    border-top: 3px solid #b83b8e;
    
  }
  
  footer div {
    position: relative;
    top: 50px;
    line-height: 0px;
  }
  
  footer div p img {
    width: 200px;
  }